---
import Work from '../components/Work.astro';
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';
import ContactInfo from '../components/ContactInfo.astro';
import Footer from '../components/Footer.astro';
---

<Layout
	description="Richard Pisarski is a frontend developer in the Detroit area. Experience, projects, and how to get in touch."
>
	<main id="main-content" tabindex="-1" class="overflow-x-hidden py-24 outline-none">
		<div class="max-w-screen-md mx-auto px-4">
			<ContactInfo />
			<Work />
			<Projects />
			<Footer />
		</div>
	</main>
</Layout>
